<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
<div class="container text-center alert alert-success">
    <h1>This is a so called about page, it's part of a challenge of the course, so..just doing it.</h1><br>
    <h1>🄳🄰🅃🄰 -> (random number): {{ number }} </h1><br>
    <a href="{% url 'home' %}" class="btn btn-primary"><h3>Home</h3></a>
</div>
</body>
</html>