<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
<div class="container text-center">
    <h1>This is a so called about page, it's part of a challenge of the course, so..just doing it.</h1><br>
    <h1>🄳🄰🅃🄰 -> (random number): {{ number }} </h1><br>
    <a href="{% url 'home' %}" class="btn btn-primary"><h3>Home</h3></a>
</div>
</body>
</html>