<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yo!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <h1 class="alert alert-info">(っ◔◡◔)っ ℙ𝕒𝕤𝕤𝕨𝕠𝕣𝕕 𝔾𝕖𝕟𝕖𝕣𝕒𝕥𝕠𝕣</h1>
    <form action="{% url 'password' %}" class="alert alert-success">
        <select name="length">
            <option value="6">6 Character Long</option>
            <option value="7">7 Characters Long</option>
            <option value="8">8 Characters Long</option>
            <option value="9">9 Characters Long</option>
            <option value="10" selected="selected">10 Characters Long</option>
            <option value="11">11 Characters Long</option>
            <option value="12">12 Characters Long</option>
        </select> Length of password<br>
        <input type="checkbox" name="uppercase"> Uppercase? <br>
        <input type="checkbox" name="numbers"> Numbers? <br>
        <input type="checkbox" name="special"> Special Characters? <br>
        <input type="submit" value="Generate Password!" class="btn btn-primary">
    </form><br>

    <a href="{% url 'about' %}" class="btn btn-primary"><h3>About</h3></a>
</div>
</body>
</html>